<h3>Clientes</h3>
<br>
<form>
  <div class="row g-3">
    <div class="col-sm-8">
      <input class="form-control" type="text" [(ngModel)]="nome" name="search" placeholder="Pesquisar... (Nome ou CPF)" Cliente
        aria-label="Search">
    </div>
    <div class="col-sm-4">
      <button mat-raised-button type="submit" class="btn btn-success" (click)="find(nome)">Pesquisar</button>
    </div>
  </div>

</form>
<br>
<button type="button" class="btn btn-success" (click)="cadastrar()">Novo cliente +</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cidade</th>
      <th scope="col">UF</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of clientes">
      <td>{{c.nome}}</td>
      <td>{{c.cidade}}</td>
      <td>{{c.uf}}</td>
      <td><button type="submit" class="btn btn-primary btn-sm" (click)="detail(c.id)">Detalhes</button></td>
    </tr>
  </tbody>
</table>
